/* 오른쪽 사이드바 */
#right-sidebar{
    position: fixed;
    left: 2300px;
    bottom: 100px;
}

#right-sidebar svg{color: white;}

*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
    position: relative;
    left: 100px;
}

#right-sidebar ul {
	text-align: center;
}

#right-sidebar ul li {
	position: relative;
    width: 70px;
    cursor: pointer;
    background: #88b56b;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

#right-sidebar ul li:after {
	position: absolute;
	background: rgb(255, 255, 255);
	color: #35550f;
    border: 1px solid #35550f;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
    opacity:.5;
    transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

#right-sidebar ul li:nth-child(1):after { 
	content: "CART";
	line-height: 88px;
}
#right-sidebar ul li:nth-child(2):after { 
	content: "UP";
	line-height: 88px;
}
#right-sidebar ul li:nth-child(3):after { 
	content: "LIST";
	line-height: 85px;
}
#right-sidebar ul li:nth-child(4):after { 
	content: "DOWN";
	line-height: 85px;
}

#right-sidebar ul li:hover {
	transform: translateX(-70px);
}

#right-sidebar ul li:hover:after {
    opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


#right-sidebar ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

#right-sidebar ul li div { position: relative; }

/* 오른쪽 사이드바 카테고리영역 */
.active1{
    position: fixed;
    bottom: -50px;
    right: 0px;
    width: 250px;
    height: 1000px;
    background: rgb(243, 243, 243);
    z-index: 7;
    box-shadow : rgba(0, 0, 0, 0.735) 0 0 0 9999px;
    border-left: 1px solid black;
}

.active2{
    display: none;
}
